# Ignore node modules
node_modules

# Ignore vendor (composer install runs in Docker)
vendor



# Ignore Laravel logs & caches
storage/*.log
storage/framework/*
storage/logs/*
bootstrap/cache/*
public/storage


# Ignore Docker-related files
.dockerignore
docker-compose.yml
Dockerfile


# Ignore system files
*.DS_Store
*.swp
*.swo
.idea
.vscode

# Ignore Git
.git
.gitignore
